

/* Responsive CSS for max width 992px */
@media only screen and (max-width: 992px) {

    html {
        font-size: 55%;
    }
    section {
        padding: 5rem 0;
    }
    .nav_menu {
        gap: 2rem;
    }
    .blog-grid {
        grid-gap: 2rem;
        padding: 0 1rem;
    }
    .offer-grid h3 {
        font-size: 3.5rem;
        margin-left: 1rem;
    }
    .offer-btn a {
        margin-right: 1rem;
    }
    .footer-grid {
        grid-gap: 2rem;
        padding: 4rem 1rem;
    }
}

    /* Responsive CSS for max width 768px */
@media only screen and (max-width: 768px) {
    .hotline {
        display: none;
    }
    .nav_menu {
        margin-right: 10rem;
        gap: 2rem;
    }
    .hero-content-box h1 {
        font-size: 5rem;
    }
    .dest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding: 0 .5rem;
    }
    .blog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
    .offer-grid h3 {
        font-size: 3rem;
        margin-left: 1rem;
    }
    .footer-grid {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        padding: 4rem 0;
    }
    .footer-grid-item {
        margin: 0 1rem;
    }
}

    /* Responsive CSS for max width 680px */
    @media only screen and (max-width: 680px) {
        
/* hamburger menu css */
    .hamburger {
        display: block;
    }
    
    .hotline {
        display: none;
    }


    .hamburger.active .bar:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(.8rem) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-.8rem) rotate(45deg);
    }
    
    .nav_menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: .3s;
        background: #000000;
        z-index: 3;
    }
    .navbar {
        padding: 0 1rem;
    }

    .nav_link {
        width: 20rem;
        transition: .3s;
        border-radius: .5rem;
    }

    .nav_link:hover {
        color: #ffff00;
    }


    .nav_menu.active {
        left: 0;
    }
    .nav_menu li a {
        display: block;
        padding: 1rem 0;
        color: #fff;
        text-decoration: none;
        margin-bottom: 1rem;
    }
    .nav_menu li a:hover {
        letter-spacing: 3px;
        transform: scale(1.1);
    }
    
    .nav_menu {
        padding: 1rem 0;
    }
    .section-title h2 {
        font-size: 3rem;
    }
    .dest-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 0 .5rem;
    }
    .blog-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    .small-img {
        width: 100%;
        height: 40rem;
    }
    .offer-grid h3 {
        font-size: 3rem;
    }
    .offer-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .offer-grid-item {
        text-align: center;
    }
    .offer-btn {
        text-align: center;
        margin-top: 2rem;
    }
    .footer-hr {
        margin-top: .5rem;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding: 4rem 0;
    }







}


    







/* hamburger menu css */

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }
    
    .hotline {
        display: none;
    }


    .hamburger.active .bar:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(.8rem) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-.8rem) rotate(45deg);
    }
    
    .nav_menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: .3s;
        background: #000000;
        z-index: 3;
    }
    .navbar {
        padding: 0 1rem;
    }

    .nav_link {
        width: 20rem;
        transition: .3s;
        border-radius: .5rem;
    }

    .nav_link:hover {
        color: #ffff00;
    }


    .nav_menu.active {
        left: 0;
    }
    .nav_menu li a {
        display: block;
        padding: 1rem 0;
        color: #fff;
        text-decoration: none;
        margin-bottom: 1rem;
    }
    .nav_menu li a:hover {
        letter-spacing: 3px;
        transform: scale(1.1);
    }
    
    .nav_menu {
        padding: 1rem 0;
    }
    .offer-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .offer-grid-item {
        text-align: center;
    }
    .offer-btn {
        text-align: center;
        margin-top: 2rem;
    }


}






